# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment
.env

# Database
*.db

# Uploads
uploads/
backend/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
backend/static/

